html, body
{
    height: 100%;
    background-color: #e9e9e9; /* #e9e9e9 = background grey color */ /*#1985D0*/
}

/*

Marcela, here is a quick and dirty breakdown of colors used in the website design along with some other visual elements. We are preparing a more formal design style guide for HSF which won't be ready until later in August.

Colors:

#d7162f = HSF Red (selected tab)
#0c4078 = HSF Navy Blue (nav bar, headings)
#0f7ed3 = bright blue (for highlights and features) (buttons, like social and sidebar stuff)
#7eb5e0 = light blue (use very sparingly):
grey: #d7d7d7 (secondary text, unselected headers)
#e9e9e9 = light grey (used for background)
#1c1c1c = font color (helvetica)

Design style:
- light use of subtle gradients.
- subtle rounded corners (3px)

Fonts:
- Kulturista (headlines - Light and Medium preferred)
- Helvetica #1c1c1c (body / default)
NOTE: The HSF logo uses the font Trajan Pro, but we are not using that font outside of the logo.
*/


/**
 * Example of an initial loading indicator.
 * It is recommended to keep this as minimal as possible to provide instant feedback
 * while other resources are still being loaded for the first time
 */
#appLoadingIndicator
{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

#appLoadingIndicator > *
{
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}

@-webkit-keyframes appLoadingIndicator{
    0% { opacity: 0.8 }
    50% { opacity: 0 }
    100% { opacity: 0.8 }
}